:root {
  --dark: #031424;
  --darkish: #30415d;
  --lightish: #8eaebd;
  --light: rgb(153, 153, 153);
  --primary: #cf6766;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--light);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: grid;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

button {
  min-width: 6rem;
  height: 3rem;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 2px var(--dark);
  background-color: var(--primary);
  font-family: cursive;
  font-weight: 700;
}

button:hover {
  background-color: var(--dark);
  color: var(--light);
  cursor: pointer;
}

.disable {
  box-shadow: none;
  color: gray;
  box-shadow: none;
}

.disable:hover {
  box-shadow: none;
  background-color: var(--primary);
  color: gray;
  cursor: auto;
}

.resetButton {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.homeButton {
  display: flex;
  justify-content: center;
  margin: 4rem;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  animation: l26 2s infinite;
  margin: auto;
  margin-top: 50%;
}
.loader::before {
  content: "Loading...";
}

@keyframes l26 {
  0%,
  10% {
    transform: perspective(200px) rotateX(0) rotateY(0) scale(1);
  }
  30%,
  36% {
    transform: perspective(200px) rotateX(180deg) rotateY(0) scale(1);
  }
  63%,
  69% {
    transform: perspective(200px) rotateX(180deg) rotateY(180deg) scale(1);
  }
  90%,
  100% {
    transform: perspective(200px) rotateX(180deg) rotateY(180deg) scale(-1);
  }
}
